process {    
    cache = 'lenient'
    executor = 'slurm'
    queue = 'normal_prio'
    time = '24 h'
    memory = '50 G'
    cpus = 1
    clusterOptions = '--exclude=fsupeksvr5'

    withName:'classify_variants|get_signatures|get_joint_signatures' {
              conda = '/g/strcombio/fsupek_home/mmunteanu/.conda/envs/SigProfilerAssignment'
              afterScript = 'set +u; conda deactivate'
    }
  }
