process {    
    cache = 'lenient'
    executor = 'slurm'
    queue = 'normal_prio'
    time = '6 h'
    cpus = 1
    clusterOptions = '--exclude=fsupeksvr5'
    conda = '/g/strcombio/fsupek_home/mmunteanu/.conda/envs/SigProfilerAssignment'
    afterScript = 'set +u; conda deactivate'
  }

trace {
  enabled = true
  file = "trace.txt"
}
